@mixin flexcenter ($gap: null) {
    display: flex;
    justify-content: center;
    align-items: center;

    @if ($gap != null) {
        gap: $gap;
        
    }

}


@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}


@mixin breakpoint($width){
    @media screen and (max-width: $width){
        @content;
    }
}