*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

section{
   width: 600px;
   height: 300px;
   margin-bottom: 50px;
   padding: 50px;
   background-color: yellowgreen;
   border: black 2px solid;
}


div{

    color: violet;
}