* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 50px;
    font-family: sans-serif;
}



.grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "menu menu"
                         "articles slidebar"
                        "footer footer";
}

main{
    height: 100vh;
    background-color: bisque;
}

header {
    background-color: aquamarine;
    height: 150px;
    grid-area: menu;
}  


aside{
    height: 100vh;
    background-color: cadetblue;
}

footer{
    height: 400px;
    background-color: #121212;
}