*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


section{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: gray;

}


.g{
    width: calc((100%/7)*4);
    height: 100vh;
    border: 1px solid black;
}

.d{
    display: flex;
    width: calc((100%/7)*3);
    height: 100vh;
    border: 1px solid black;
}

.col1{
display: flex;

}

.col2{
    display: flex;
}


.col3{
    display: flex;
}


.col4{
    display: flex;
}


.col5{
    display: flex;
}

cd 
.minicol1{
    width: 50%;
    height: 20vh;
    border: 1px solid black;
}

.minicol1a{
    width: 100%;
    height: 20vh;
    border: 1px solid black;
}

.minicol2{
    width: 75%;
    height: 20vh;
    border: 1px solid black;
}

.minicol2a{
    width: 25%;
    height: 20vh;
    border: 1px solid black;
}

.minicol3{
    width: 50%;
    height: 40vh;
    border: 1px solid black;
}

.minicol4{
    width: 100%;
    height: 20vh;
    border: 1px solid black;
}


.minicol5{
    width: 40%;
    height: 100vh;
    border: 1px solid black;
}


.minicol6{
    width: 40%;
    height: 20vh;
    border: 1px solid black;
}



/* +++++++++++



